{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Index</title>

		<!-- Bootstrap CSS -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<h2 id="state-message">Please, register a new account or log in.</h2>
		<div id="registration-form-container">
			<form id="registration-form" action="javascript:void(null);" onsubmit="registration_post()">
				{% csrf_token %}
				<legend>Registration Form</legend>
				<div>
					<label for="registration-username">Username:</label>
					<input id="registration-username" name="username" value="" type="text">
				</div>
				<div>
					<label for="email">Email:</label>
					<input id="email" name="email" value="" type="email">
				</div>
				<div>
					<label for="registration-password">Password:</label>
					<input id="registration-password" name="password" value="" type="password">
				</div>
				<div>
					<label for="first_name">First name:</label>
					<input id="first_name" name="first_name" value="" type="text">
				</div>
				<div>
					<label for="last_name">Last name:</label>
					<input id="last_name" name="last_name" value="" type="text">
				</div>
				<input value="Send" type="submit">
			</form>
			<button type="button" onclick="hide_reg_show_login_form()">Go to Login</button>
			<div id="registration-results"></div>
		</div>
		<div id="login-form-container" style="display:none">
			<form id="login-form" action="javascript:void(null);" onsubmit="login_post()">
				<!-- {% csrf_token %} -->
				<legend>Login form</legend>
				<div>
					<label for="login-username">Username:</label>
					<input id="login-username" name="username" value="" type="text">
				</div>
				<div>
					<label for="login-password">Password:</label>
					<input id="login-password" name="password" value="" type="password">
				</div>
				<input value="Send" type="submit">
			</form>
			<button type="button" onclick="hide_login_form_show_reg()">Go to Registration</button>
			<div id="login-results"></div>
		</div>
		<div id="user-data" style="display:none"></div>
		<div id="list-of-users" style="display:none"></div>
		<div id="user-expenses" style="display:none"></div>
		<div id="user-logout" style="display:none">
			<!-- <form id="logout-form" action="javascript:void(null);" onclick="logout_post()">
				<input type="submit" value="Log out">
			</form> -->
 			<a href="/auth/logout/?next=/index/">Log out</a>
 			<!-- <a href="/auth/logout/">Log out</a> -->
		</div>
		<!-- React -->
		<script src="{% static 'static/libs/react/build/react.js' %}"></script>
		<script src="{% static 'static/libs/react/build/react-dom.js' %}"></script>
		<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
		<!-- jQuery -->
		<script src="{% static 'static/libs/jquery/jquery-3.1.1.js' %}"></script>
		<!-- User JS -->
		<script src="{% static 'static/index/add_csrf_in_request_header.js' %}" type="text/javascript"></script>
		<script src="{% static 'static/index/get_user_and_environment.js' %}" type="text/jsx"></script>
		<script src="{% static 'static/index/current_user_box.js' %}" type="text/jsx"></script>
		<script src="{% static 'static/index/transfer_api.js' %}" type="text/javascript"></script>
		<script src="{% static 'static/index/expense_box.js' %}" type="text/jsx"></script>
		<script src="{% static 'static/index/admin_expense_box.js' %}" type="text/jsx"></script>
		<script src="{% static 'static/index/users_box.js' %}" type="text/jsx"></script>
		<script src="{% static 'static/index/main.js' %}" type="text/jsx"></script>
		<!-- Bootstrap JavaScript -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>
</html>